@import 'variables';

#app-container {
    position: relative;
}

.big-hero {
    height: $hero-height;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.hero-text-cont {
    width: 100%;
    text-align: center;
    height: $hero-height;
    display: flex;
    align-content: center;
    justify-content: center;

    .hero-text {
        margin-top: 15vh;
    }

    .hello-world {
        font-family: $code-font;
        font-size: 3rem;
    }

    .introduction {
        font-family: $h-font;
        font-size: 2.6rem;
    }
}

.nav-container {
    position: absolute;
    width: 100vw;
}

.nav {
    background-color: $transparent;
    justify-content: space-between;

    .nav-left, .nav-right {
        justify-content: space-around;
    }
}

.logo-container {
    width: 35px;
    display: flex;
    align-content: center;
}

.logo {
    border-radius: 3px;

}

.panels-container {
    margin: auto;
    width: $hero-height;
    height: $hero-height;
}

.panel-comp {
    display: inline-block;
}

.panels {
    height: $hero-height;
    background-color: $hero-background-color;
    
    .desktop-row {
        height: $hero-height / 12;

        .panel-comp {
            height: 100%;
            transition: margin-left $panel-flip-time, margin-right $panel-flip-time, width $panel-flip-time;
        }

        .panel-unflipped {
            width: (100/24) * 1%;
            margin-right: 0px;
            margin-left: 0px;
            background-color: $panel;
        }

        .panel-flipping {
            background-color: $panel;
            margin-left: (100/24) * 0.5%;
            margin-right: (100/24) * 0.5%;
            width: 0px;
        }

        .panel-flipped {
            margin-left: 0px;
            margin-right: 0px;
            width: (100/24) * 1%;
            background-color: #00ff00;
        }
    }
}
