@import 'variables';

html {
    background-color: $seagreen
}

#app-container {
    position: relative;
}

.heading-container {
    display: flex;
    justify-content: center;

    .introduction {
        padding-top: 15vh;
    }
}

.big-hero {
    height: $hero-height;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.hero-text-cont {
    width: 100%;
    text-align: center;
    height: $hero-height;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 900;

    .hero-text {
        margin-top: 15vh;
    }

    .hello-world {
        font-family: $code-font;
        font-size: 2rem;
    }


    i {
        font-size: 3em;
    }
}

.introduction {
    font-family: $h-font;
    font-size: 3.4rem;
}

.profile-img {
    width: 10em;
    margin-top: 3em;
}

.nav-container {
    position: absolute;
    width: 100vw;
}

.nav {
    background-color: $transparent;
    justify-content: space-between;
    font-family: $nav-font;
    font-weight: 800;

    .nav-left, .nav-right {
        justify-content: space-around;

        .nav-item {
            color: #555;
            text-transform: uppercase;
            transition: color 0.6s;

        }

        .nav-item:hover {
            color: #fff;
        }
    }
}

.logo-container {
    width: 35px;
    display: flex;
    align-content: center;
}

.logo {
    border-radius: 3px;

}

.panels-container {
    margin: auto;
    width: $hero-height;
    height: $hero-height;
}

.panel-comp {
    display: inline-block;
}

.panels {
    height: $hero-height;
    background-color: $hero-background-color;
    background-image: $hero-background-img;
    z-index: 1;
    background-position: center;
    background-size: cover;
    
    .desktop-row {
        height: $hero-height / 12;

        .panel-comp {
            width: (100/24) * 1%;
            transition: background-color $panel-flip-time;
        }
    }

    .mobile-row {
        height: $hero-height / 24;

        .panel-comp {
            width: (100/12) * 1%;
            transition: background-color $panel-flip-time-mobile;
        }
    }

    .panel-comp {
        height: 100%;
        margin-right: 0px;
        margin-left: 0px;
        z-index: 1;
    }

    .panel-unflipped {
        background-color: $panel;
    }

    .panel-flipping {
        background-color: $trans-green;
    }

}


#content {
    background-color: $hero-background-color;

    h2 {
        font-size: 2rem;
        font-family: $h-font;
    }

    .home-section {
        padding: 4rem 20%;
        display: flex;
        flex-wrap: nowrap;

        .home-icon {
            font-size: 5rem;
            padding: 1rem;
        }

        .home-text {
        }

        p {
            font-family: $p-font;
        }
    }
}

@media (max-width: 788px) {
    #content {
        .home-section {
            flex-wrap: wrap;
            text-align: center;
        }
        .home-icon {
            margin: auto;
        }
    }
}