@import 'variables';

html {
    background-color: $sand
}

a {
    color: #444;
    transition: color 0.86s;
}

a:hover {
    color: $secgreen;
}

#app-container {
    position: relative;
}

.heading-container {
    display: flex;
    justify-content: center;

    .introduction {
        padding-top: 15vh;
        padding-bottom: 2em;
    }
}

.big-hero {
    height: $hero-height;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: $trans-green;
    background: -webkit-linear-gradient($seagreen, $trans-green); 
    background: -o-linear-gradient($seagreen, $trans-green); 
    background: -moz-linear-gradient($seagreen, $trans-green);
    background: linear-gradient($sand, $trans-green);
}

.hero-text-cont {
    width: 100%;
    text-align: center;
    height: $hero-height;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 900;

    .hero-text {
        margin-top: 15vh;
    }

    .hello-world {
        font-family: $code-font;
        font-size: 2rem;
    }


    i {
        font-size: 3em;
    }
}

.hero-img {
    i {
        margin-top: 3em;
    }
}

.introduction {
    font-family: $h-font;
    font-size: 3.4rem;

    .subtitle {
        font-size: 1.4rem;
        font-family: $h-font;
        text-align: center;

        i {
            margin-left: 0.5em;
            font-size: 1.6rem;
        }
    }
}

.profile-img {
    width: 10em;
    margin-top: 3em;
}

.nav-container {
    position: absolute;
    width: 100vw;
}

.nav {
    background-color: $transparent;
    justify-content: space-between;
    font-family: $nav-font;
    font-weight: 800;

    .nav-left, .nav-right {
        justify-content: space-around;

        .nav-item {
            color: #555;
            text-transform: uppercase;
            transition: color 0.6s;

        }

        .nav-item:hover {
            color: $secgreen;
        }

        .nav-current {
            color: $secgreen;
            transition: color 0.6s;
            
        }
    }
}

@media (max-width: 788px) {
    .nav-left, .nav-right {
        height: 70px;
        flex-direction: column;
        padding-top:10px;

        .nav-item {
            margin:auto;
        }
    }
}

.logo-container {
    width: 35px;
    display: flex;
    align-content: center;
}

.logo {
    border-radius: 3px;

}

.panels-container {
    margin: auto;
    width: $hero-height;
    height: $hero-height;
}

.panel-comp {
    display: inline-block;
}

.panels {
    height: $hero-height;
    background-color: $hero-background-color;
    background-image: $hero-background-img;
    z-index: 1;
    background-position: center;
    background-size: cover;
    
    .desktop-row {
        height: $hero-height / 12;

        .panel-comp {
            width: (100/24) * 1%;
            transition: background-color $panel-flip-time;
        }
    }

    .mobile-row {
        height: $hero-height / 24;

        .panel-comp {
            width: (100/12) * 1%;
            transition: background-color $panel-flip-time-mobile;
        }
    }

    .panel-comp {
        height: 100%;
        margin-right: 0px;
        margin-left: 0px;
        z-index: 1;
    }

    .panel-unflipped {
        background-color: $panel;
    }

    .panel-flipping {
        background-color: $transparent;
    }

}


#content {
    background-color: $hero-background-color;

}

.home-section {
    padding: 4rem 20%;
    display: flex;
    flex-wrap: nowrap;

    h2 {
        font-size: 2rem;
        font-family: $h-font;
    }


    .home-icon {
        font-size: 5rem;
        padding: 1rem;
    }

    .home-text {
    }

    p {
        font-family: $p-font;
    }
}

@media (max-width: 788px) {
    .home-section {
        flex-wrap: wrap;
        text-align: center;
    }
    .home-icon {
        margin: auto;
    }
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-cell {
    margin-bottom: 2em;
    width: 30%;
    min-width: 15rem;
    background-color: $sand2;
    padding: 1.2em;
    border-radius: 4px;
    border-top: 1em solid $seagreen;
}

.project-image {
    border-radius: 2px;
    margin: auto;
}

.project-name {
    font-size: 1.2em;
    
    i {
        font-size: 1.4em;
        margin-right: 0.5em;
    }
}

.project-desc {
    color: #666;
}

.magic-row {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.magic-cell {
    width: 17%;
    min-width: 8em;
    text-align: center;
    font-family: $h-font;
    font-weight: bold;
}