/* ---- Colors ---- */
$sand: #f9f9de;
$transparent: rgba(0,0,0,0);
$trans-green: rgba(20,255,144,0.5);
$seagreen: #25C28A;

$flipped-panel: $sand;
$panel: $seagreen;
$navbar-color: $sand;
$hero-background-color: $sand;
$underline-color: #ff00ff;

$hero-background-img: url("/../images/vapeywave.jpg");
$profile-img: url("/../images/me.png");

/* ---- Other ---- */
$h-font: "Raleway", sans-serif;
$p-font: "Open Sans", sans-serif;
$code-font: "Source Code Pro", monospace;

$nav-font: "Raleway", sans-serif;

$hero-height: 90vh;

$panel-flip-time: 0.5s;
$panel-flip-time-mobile: 0.3s;