/* ---- Colors ---- */
$sand: #f9f9de;
$sand2: #e0e0be;
$transparent: rgba(0, 0, 0, 0);
$trans-green: rgba(20, 255, 144, 0.5);
$secgreen: #0fb667;
$seagreen: #66ffb2;

$flipped-panel: $sand;
$panel: $seagreen;
$navbar-color: $sand;
$hero-background-color: $sand;
$underline-color: #ff00ff;

$hero-background-img: url("/../images/vapeywave-small.jpg");
$profile-img: url("/../images/me.png");

/* ---- Other ---- */
$h-font: "Raleway", sans-serif;
$p-font: "Open Sans", sans-serif;
$code-font: "Source Code Pro", monospace;

$nav-font: "Raleway", sans-serif;
$quote: "Merriweather", serif;

$hero-height: 90vh;

$panel-flip-time: 0.5s;
$panel-flip-time-mobile: 0.3s;

/* ---- Magic ---- */
$card-width: 200px;
$card-height: 279px;
