/* ---- Colors ---- */
$sand: #e7e6c1;
$transparent: rgba(0,0,0,0);
$seagreen: #14ff90;

$panel: $seagreen;
$navbar-color: $sand;
$hero-background-color: $sand;

/* ---- Other ---- */
$h-font: "Lato", sans-serif;
$p-font: "Open Sans", sans-serif;
$code-font: "Source Code Pro", monospace;

$hero-height: 90vh;